@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
.form{
    border: 3px solid black;
    padding: 10px;
    width: 100%;
    margin: 0px auto;
    
}

h1 {
    text-align: center;
}

.highlight {
    border-radius: 8px;
}
/*EVEN*/
/* 1.Achieve mandatory field using html & make it us red color*/

sup {
    color: red;
}


/* 2.dropdown selected should have shadow*/

select:focus {
    box-shadow: 0px 7px 7px blue;
}


/* 3.dropdown values should have alternate colors*/

option:nth-child(odd) {
    background-color: blue;
}

option:nth-child(even) {
    background-color: yellow;
}


/* 4.mandatory labels first letter should be bolder than other characters*/

.form p::first-letter {
    font-weight: bolder;
}


/* 5.Checkbox selected should have change the color of text to red*/

input:checked+label {
    color: red;
}

/*ODD*/
/* 1.Achieve mandatory field using css*/

.required::after {
    content: "*";
    color:blue;
}


/* 2.onclick make blue highlight*/

.highlight:focus {
    border: 2px solid blue;
    outline: none;
}


/* 3.mouse over label text green*/

.required:hover {
    color: green;
    font-weight: bolder;
}


/* 4.mouse over non mandatory label text yellow*/

.notrequired:hover {
    color: yellow;
    font-weight: bolder;
}